# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Build / dist
dist/
build/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# macOS
.DS_Store

# IDE
.idea/
.vscode/
